
<%= render 'layouts/header'%>
<div class = "whole_page">
<h1>Ocean home page</h1>
<div class = "center">
Beginning implementation: bootstrap will be incorporated into the page for styling, interactive images (using js and jquery) will be implemented, filled with the information mel gathers
</div>
<%= render 'layouts/footer'%>
</div>