<%= render 'layouts/header'%>
<h1>About page</h1>
<div class = "center">
Eventually we will put short info about the class and us and share links to further information
</div>
<%= render 'layouts/footer'%>