<%= render 'layouts/header'%>
<h1>About the app</h1>
<div class = "center">
<p> This website was developed by Brandeis Undergraduates Melissa Rothenberg and Belle Scott, for a project in Oceanography, taught by Professor Sally Warner at Brandeis University. We sincerly hope you enjoy the experience, and also 
learn more about our ocean and how we can keep our planet healthy! </p>
<br> 
-Belle and Mel
</div>

<%= render 'layouts/footer'%>