<%= render 'layouts/header'%>
<h1>About the app</h1>
<div class = "center">
<p> This website was developed by Brandeis Undergraduates Melissa Rothenberg and Belle Scott, for a project in Oceanography, taught by Professor Sally Warner at Brandeis University. We sincerly hope you enjoy the experience, and also 
learn more about our ocean and how we can keep our planet healthy! </p>
<br> 
-Belle and Mel

<div class = "references">
<i>References</i>
<br>
<a href="https://www.state.nj.us/dep/cmp/coastal_hazard_manual.pdf">Herrington, T. O. (2000). NEW JERSEY SEA GRANT COLLEGE PROGRAM MANUAL FOR COASTAL HAZARD MITIGATION.</a>
<br>
<a href="https://www.nap.edu/read/9613/chapter/3#14">National Research Council. 1999. Meeting Research and Education Needs in Coastal Engineering.</a>
<br>
<a href="https://www.ipcc.ch/srocc/chapter/chapter-4-sea-level-rise-and-implications-for-low-lying-islands-coasts-and-communities/">Oppenheimer, M et alt, 2019: Sea Level Rise and Implications for Low-Lying Islands, Coasts and Communities.</a>
<br>
<a href="https://www.nap.edu/resource/13353/coastal_hazards.pdf">The National Academics. (2007). Coastal Hazards. Retrieved February 24, 2021</a>
</div>
</div>

<%= render 'layouts/footer'%>