
<footer class="footer">
  <small>
    Sea level Rise, Written by <a href="https://www.linkedin.com/in/belle-scott-1072b8133/">Belle Scott</a> and <a href="https://www.linkedin.com/in/melissa-rothenberg-8b9736187/"> Melissa Rothenberg</a>
  </small>


</footer>