<header style ="background:#ADD8E6" class="navbar navbar-fixed-top">
<div class="navbar-inner">
      <div class="container">
        <%= link_to "Home", '/', id: "logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "About", 'about/index', method: :get %></li> 
            </ul>
        </nav>
        </div>
      </div>
    </div>
</header> 